     
        
        
        body {
            background-color: black;
        }
        .cuerpo {
            background-color: white;
            height: 700px;
            margin: auto;
            width: 500px; 
            border-style: solid;
            border-color: black;
        }

        .principal {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
       
        .icons-izquierdo {
            display: flex;
            gap: 5px;
            justify-content: center;
        }

        .icons {
            width: 60px;
            height: 60px;
            display: flex;
            /*margin: auto;*/
        }

        .icons-izquierdo-izquierdo h2 {
            margin-top: 20px; 
            font-size: 20px;
            line-height: 1px;
          }

        .icons-derecho {
            display: flex;
            margin-top: 30px;
            gap: 5px;
            justify-content: right;
        }

        #tres-puntos {
            
            height: 30%;
        }
    
        .imagen-central img {
            width: 500px;
        }

        .mayor {
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .mayor img {
            width: 25px;
            height: 25px;
        }

        .menor-izquierdo {
            gap: 10px;
            justify-content: space-between;
            font-size: 25px;
        }

        .menor-derecho {
            margin-top: 10px; 
            gap: 10px;
            justify-content: center;
            font-size: 25px;
        }

        .margen { 
            margin-left: 20px;
            margin-right: 20px;
        }